@import '../../styles/palette.scss';

.form {
	&__container {
		position: relative;
	}

	&-icon {
		position: absolute;
		left: 22px;
		top: 16px;
	}

	&__field {
		padding: 10px 25px 13px 60px;
		border-radius: 25px;
		border-color: $secondary_0_1;
		outline: none;
		width: 100%;

		&-label {
			display: block;
		}
	}
}
