@import '../styles//palette.scss';

.btn {
	border-radius: 25px;
	cursor: pointer;
	transition: transform .3s ease;
	outline: 0 none;

	&:hover {
		transform: translateY(-3px);
		opacity: .7;
	}

	/* Styles */
	&--primary {
		&--solid {
			background-color: $primary;
			color: $white;
			border: 0 none;
		}

		&--outlined {
			background-color: transparent;
			color: $primary;
			border: 2px solid $primary;
		}
	}

	&--secondary {
		&--solid {
			background-color: $secondary;
			color: $white;
			border: 0 none;
		}

		&--outlined {
			background-color: transparent;
			color: $secondary;
			border: 2px solid $secondary;
		}
	}

	&--disabled {
		background-color: $secondary_0_1;
		color: $black;
		border: 2px solid $secondary_0_1;
		opacity: .5;
		transition: none;

		&:hover {
			cursor: not-allowed;
			opacity: .5;
			transform: none;
		}
	}

	/* Sizes */
	&--medium {
		max-width: 200px;
		width: 100%;
		padding: 15px 30px;
		margin: 30px 0;
	}

	&--large {
		max-width: 350px;
		width: 100%;
		padding: 15px 30px;
		margin: 30px 0;
	}

	&--infinite {
		width: 100%;
		padding: 15px 30px;
		margin: 30px 0;
	}
}
